.contacts {
    display: flex;
    align-items: center;
   justify-content: center;
    padding: 55px 20px 63px;
    margin: 0 auto 0;
    text-align: center;
}

.contacts-title {
    font-weight: 700;
    font-size: 34px;
    color: var(--color-main-black);
}

/* .contacts-button {
    display: block;
    max-width: 100%;
    max-width: 100%;
    width:210px;
    height:42px;
    text-align: center;
    background-color: var(--color-main-black);
    border: none;
    border-radius: 21px;
    margin: 75px 0 50px;
    
   
} */

/* .contacts-button:hover {
    opacity: .8;
} */

.button-link {
    /* display: flex;
   align-items: center;
   justify-content: center; */
   max-width: 100%;
    width:210px;
    height:42px;
    text-align: center;
    background-color: var(--color-main-black);
    border: none;
    border-radius: 21px;
    margin: 75px 0 50px;
    display: block;
    padding:6px 11px 7px 15px;
    margin: 75px auto 50px;
   
    font-weight: 500;
    font-size: 24px;
    color: var(--bg-main);
    max-width: 370px;
    /* width:210px;
    height:42px;
    text-align: center;
    background-color: var(--color-main-black);
    border: none;
    border-radius: 21px;
    margin: 75px 0 50px; */
   
   
}

.button-link:hover {
    opacity: .8;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin: 0 auto;
}

.social-icon {
    width: 65px;
    height: 65px;
    fill: var(--color-main-black);
}

.social-icon:hover {
    fill: rgb(223, 116, 116);
}

.contacts-info {
    width: 260px;
    margin: 35px auto 0;
    color: var(--font-color-grey);
    font-weight: 500;
    font-size: 16px;
}
@media (max-width:480px) {
    .socials {
        gap: 22px;
    }
    .social-icon {
        width: 55px;
        height: 55px;
    }
    .contacts-info {
        font-size: 14px;
    }
}